package fr.lidonis.adventofcode.y{{year}}.day{{day}}

import fr.lidonis.adventofcode.common.Answer
import fr.lidonis.adventofcode.y{{year}}.AdventOfCode{{year}}

private const val DAY = {{day}}

@Suppress("unused")
object Day{{day}} : AdventOfCode{{year}}(DAY) {

    private val {{lname}} = {{name}}(input().lines())

    @Answer("")
    override fun part1() = {{lname}}.part1()

    @Answer("")
    override fun part2() = {{lname}}.part2()
}
