package fr.lidonis.adventofcode.y{{year}}

import fr.lidonis.adventofcode.AdventOfCode

private const val YEAR = {{year}}

abstract class AdventOfCode{{year}}(override var day: Int) : AdventOfCode(YEAR)
