package fr.lidonis.adventofcode.y{{year}}

import fr.lidonis.adventofcode.common.aoc.AocTestFactory
import fr.lidonis.adventofcode.y{{year}}.AdventOfCode{{year}}
import org.junit.jupiter.api.TestFactory

class NonRegressionTest{{year}} {

    @TestFactory
    fun `Test all Advent of Code {{year}}`() = AocTestFactory.adventOfCodeTest<AdventOfCode{{year}}>()
    
}
